body {
  background: #393e41;
}

h1 {
  background-color: #e94f37;
  position: fixed;
  left: 375px;
  text-align: center;
  width: 500px
}

h2 {
  background-color: #fffc31;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 300px;
}

button {
  background-color: #e94f37;
  position: relative;
  left: 145px
}

.returnlink {
  position: fixed;
  left: 375px;
  top: 100px;
  background-color: white;
}
